.boxNaranja {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  background-color: #ff6201;
  color: white;
}

.boxNaranja p {
  text-align: center;
  width: 50%;
  font-size: 1.6rem;
  font-family: "Abhaya Libre";
  font-style: italic;
}

.clasesYoga {
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clasesYoga h1 {
  margin-top: 10vh;
  font-family: sans-serif;
  font-size: 1.4rem;
}

span {
  color: #ff6201;
  font-weight: bolder;
}

.clasesYoga p {
  color: #000;
  margin-top: 1vh;
  font-size: 1rem;
  font-weight: bold;
}

.cards {
  display: flex;
  width: 90%;
  justify-content: center;
  height: auto;
  margin-top: 4%;
  align-items: center;
  gap: 2%;
}

.cardFlow {
  width: 60%;
}

.imgFlow {
  width: 70%;
  border: 1px;
  border-radius: 40px;
}

.cardPower {
  width: 60%;
}

.imgPower {
  width: 80%;
  border: 1px;
  border-radius: 40px;
}

.cardIntegral {
  width: 60%;
}

.imgIntegral {
  width: 70%;
  border: 1px;
  border-radius: 40px;
}
