.main{
    padding-top: 15vh;
}

header {
  height: 85vh;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
}

.cajaNav {
  height: 15vh;
  background-color: white;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

.navegacion{
  width: 40%;
  display: flex;
  align-items: center;
  gap: 30px;
}

.imgLogo {
  height: 50px;
  width: 170px;
  margin-left: 70px;
  
}

.logo {
  max-width: 200px;
  max-height: 200px;
}

.box_navegacion {
  display: flex;
  flex-direction: row;
  gap: 30px;
}


.navItem {
  text-decoration: none;
  font-size: 0.9rem;
}

.nav_Items {
  font-weight: 600;
  color: #080808;
}

.underline-hover::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: black;
  display: block;
  transition: ease-in-out 300ms;
}

.underline-hover:hover::after {
  width: 100%;
}

.logoInstagram {
  font-size: 1.3rem !important;
}

.clasesOnline{
    border: 2px solid orange;
    background-color: orange;
    color: white;
    border-radius: 15px 5px;
    padding: 2px 15px 2px 15px;
    cursor: pointer;
}

.clasesOnline a{
  background-color: orange;
}

.boxClasesOnline:hover{
  width: 130px;
  height: 35px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* Imagen */

.main{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}
.cajaHome {
  height: 70vh;
  width: 90%;
  background-image: url("../../../public/Fondo3.jpeg");
  background-size:cover;
  background-position-x: center;
  background-position-y: bottom;
  border: 1.5px solid rgb(58, 30, 3) ;
  border-radius: 40px;
}

/* Nombre */

.cajaTexto {
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.nombre {
  color: orange;
  font-family: 'Caprasimo', cursive;
  font-size: 1.5rem;
}
.frase{
    font-size: 0.8rem;
    font-family: 'Caprasimo', cursive;
}

.mainBox{
    height: 100vh;
}