.main {
  padding-top: 15vh;
}
header {
  height: 100vh;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
}

.cajaNav {
  height: 20vh;
  background-color: white;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

.navegacion {
  width: 45%;
  display: flex;
  align-items: center;
  gap: 30px;
}

.imgLogo {
  height: 50px;
  width: 170px;
  margin-left: 15vh;
}
.logoImg {
  width: 45%;
}
.logo {
  max-width: 200px;
  max-height: 200px;
}

.box_navegacion {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.navItem {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
  font-weight: 900;
}

.nav_Items a {
  color: black;
}

.underline-hover::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: #ff6101;
  opacity: 0.5;
  display: block;
  transition: ease-in-out 300ms;
}

.underline-hover:hover::after {
  width: 100%;
}

.clasesOnline a {
  background-color: #ff6201c0;
  color: white;
  border-radius: 10px;
  padding: 6px;
  cursor: pointer;
}
/* Imagen */

.main {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin-top: 10px;
}
.mainHome {
  width: 35%;
  gap: 3%;
  text-align: end;
}
.tituloHome {
  font-size: 7rem;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  width: 100%;
}

.subtituloHome {
  font-size: 1.5rem;
  font-style: italic;
}

.textoImg {
  font-weight: bold;
  margin-top: 30px;
  margin-right: 5px;
  text-align: end;
}
.textoImg {
  font-size: 1rem;
  font-weight: bolder;
  padding-left: 10%;
}
.cajaHome {
  height: 70vh;
  background-image: url("../../../public/fondo4.jpg");
  width: 47%;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
}

/* Nombre */

.cajaTexto {
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.nombre {
  color: #f4a8ac;
  font-family: "Caprasimo", cursive;
  font-size: 1.5rem;
}
.frase {
  font-size: 0.8rem;
  font-family: "Caprasimo", cursive;
}

.mainBox {
  height: 100vh;
}

@media screen and (width< 850px) {
  header {
    height: auto;
  }
  .navegacion {
    width: 55%;
  }
  .main {
    display: flex;
    height: auto;
    flex-direction: column;
    transition: 0.2s;
  }
  .mainHome {
    width: 80%;
  }
  .cajaHome {
    width: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
}
@media screen and (width<600px) {
  header {
    height: auto;
  }
  .navegacion {
    width: 55%;
  }
  .main {
    display: flex;
    height: auto;
    flex-direction: column;
  }
  .mainHome {
    width: 80%;
  }
  .cajaHome {
    background-image: url(../../../public/Fondo800width.jpg);
    background-position-x: left;
    width: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
}
