.footerBox {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Caprasimo", cursive;
  font-size: 1rem;
  background-color: #f5f1e3;
}

.imgFooter {
  height: 150px;
  width: 250px;
}
.texto {
  font-family: "Caprasimo", cursive;
  font-size: 13px;
}
.iconos {
  padding-top: 19px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.logos{
  font-size: 1.2rem;
}
