.footerBox {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

.imgFooter {
  height: 150px;
  width: 250px;
}
.texto {
  font-size: 0.8rem;
  font-weight: bold;
  color: black;
}
.iconos {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.logos{
  font-size: 1.2rem;
}
