.box {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.textoContacto {
  font-size: 1.5rem;
  color: #ff6201;
  text-align: center;
  font-family: "Playfair Display", serif;
}

.boxMail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
}

.inputContacto {
  height: 35px;
  width: 50%;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  padding-left: 10px;
}

input::placeholder {
  text-align: start;
  font-size: 0.8rem;
  font-weight: bolder;
}

.buttonContacto {
  height: 35px;
  width: 20%;
  background-color: #ff6201c0;
  color: white;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: bolder;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .box {
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }

  .textoContacto {
    font-size: 1.5rem;
    color: #ff6201;
    text-align: center;
    font-family: "Playfair Display", serif;
  }
  .inputContacto {
    height: 35px;
    width: 60%;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    padding-left: 10px;
  }

  input::placeholder {
    text-align: start;
    font-size: 0.8rem;
    font-weight: bold;
  }

  .buttonContacto {
    height: 35px;
    width: 0%;
    background-color: #ff6201c0;
    color: white;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: bolder;
    cursor: pointer;
  }
}
